fieldset{
       background-color:#eee;
       margin-bottom:20px;
       border:2px solid blac;
}
legend{
    background-color: rgb(185, 199, 199);
    padding:5px;
    color:black;
    font-weight:bold;
    border-radius: 5px;
}
input{
  display:block;
}

.fieldset_seg{
      padding:20px;
      
}
.legend_seg{
       padding:8px;
       color:red;
}
input {
      display: block;
}
