h1{
  text-align: center;
}
table{
  border:1px solid red;
  width:400px;
  height: 20px;
  padding:2px;
}
table td{
  border: 1px solid red;
  padding:2px;
  text-align: center;
  
}
table th{
   border:1px solid red;
   color:white;
   background-color:green;
}